.vscode
audio
bin
deprecated
dial
SurfaceDial
backup profile.cueprofile
G1-55*
InsideClipboard*
Launch_Control_XL_Mapping_Data.syx
Lightpack.ini
midi.ico
msvcr100.dll
Samolepky.psd
Samolepky2.psd
iCUESDK*
keypress-osd*
updater.bat